

.contact{
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;  
}
.contact-heading{
    color:darkslategrey;;
}
*, *:before, *:after {
    box-sizing:border-box;
    
  }
.contact-form{
    margin: 5px;
    padding: 5px;
    border: 2px solid darkslategrey;;
    border-radius: 25%;
}
.label{
    
    color:darkslategrey;;
    font-weight: bold;
}
.title{
    border: 2px solid darkslategrey;
    margin: 5px;
    margin-left: 10px;
    
}
.button{
    background-color: darkslategrey;;
    color: white;
   
    height: 50%;
    font-size: 20px;
    border-radius: 25%;
    
}

